{% extends 'base.html' %}

{% block content %}
{{block.super}}
<div class="container-fluid mt-5">
    <hr>
    <h3 class="p2 text-center fs-1"><span class="text-danger">MY GALLERY</span>
    </h3>
    <hr>
    <div class="text-center" style="margin-top: 1%; margin-bottom: 1%;">
    <blockquote class="blockquote text-center">
      <p class="mb-0">Life is Full of Beauty.</p><br>
      <footer class="blockquote-footer">Carey Mwarabu</footer>
    </blockquote>
  </div>


    <div class="col-md-12">
        <div class="card-group">
            {%for image in images%}
            <div class="card"
                 style="min-width: 15rem; max-width:18rem ;margin-top: 30px; margin-bottom: 30px; margin-right: 3rem;">
                <a href="/image/{{image.id}}"><img src="{{ image.image.url }}" style="height: 14rem;" class="card-img-top" alt="Image"></a>
            </div>

            {% endfor %}
        </div>
    </div>
    {% endblock %}
</div>